# Leap Year

In [ ]:
year = int(input('Enter a year: '))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
  print(f'{year} is a leap year!')
else:
  print(f'{year} is not a leap year.')

# Movie Theater

In [ ]:
init_attendees = 20
fixed_cost = 200

for advertising in range (0, 201, 25):
  attendees = float(2*round(advertising**0.5) + init_attendees)
  profit = float((attendees * 10 ) - advertising - fixed_cost)
  print(f'{advertising} ${profit}')

0 $0.0
25 $75.0
50 $90.0
75 $105.0
100 $100.0
125 $95.0
150 $90.0
175 $85.0
200 $80.0

# Deposits With Interest Rates

In [ ]:
name = input('Enter Your Name: ')
customer_type = input('Enter Customer Type (n: new, e: existing): ')
deposit = float(input('Enter deposit amount (in $): '))

if customer_type == 'n':
  interest = 0.03
else:
  if deposit <= 1000:
    interest = 0.03
  elif deposit <= 10000:
    interest = 0.0325
  elif deposit > 10000:
    interest = 0.035

total = (1 + interest) * deposit
print(total)

Enter Your Name: rojo
Enter Customer Type (n: new, e: existing): n
Enter deposit amount (in $): 5000
5150.0

# Date Program

In [ ]:
months = {}

numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
names = ['Jan', 'Feb', 'Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']

for i in range(len(numbers)):
  months[numbers[i]] = names[i]
  print (months)

# Rock, Paper, Scissors Game

In [ ]:
import random

pc_choice = random.choice(['Rock', 'Paper','Scissors'])

userInput = input('Enter your choice (Rock, Paper, Scissors): ')

print(f'Computer:{pc_choice}')

if userInput == pc_choice:
  print("Its a draw!")
elif (userInput == 'Rock' and pc_choice == 'Scissors') or (userInput == 'Paper' and pc_choice == 'Rock') or (userInput == 'Scissors' and pc_choice == 'Paper'):
  print("You Win!")
else:
  print("You Lose!")

# List Creator

In [ ]:
L = []

number = int(input('Enter a value: '))

while number != 0:
  L.append(number)
  number = int(input('Enter a value: '))

# Calculator

In [ ]:
while True:
    input1 = input('Enter First Number: ')
    if input1.lower() == 'break':
        print('Goodbye!')
        break
    else:
        input1 = float(input1)

    operator = input('Choose an Operator (+, -, *, /, //, %, **): ')
    if operator == '+':
        input2 = float(input('Enter Second Number: '))
        print(input1 + input2)
    elif operator == '-':
        input2 = float(input('Enter Second Number: '))
        print(input1 - input2)
    elif operator == '*':
        input2 = float(input('Enter Second Number: '))
        print(input1 * input2)
    elif operator == '/':
        input2 = float(input('Enter Second Number: '))
        if input2 != 0:
            print(input1 / input2)
        else:
            print("Error: Division by zero!")
    elif operator == '//':
        input2 = float(input('Enter Second Number: '))
        if input2 != 0:
            print(input1 // input2)
        else:
            print("Error: Division by zero!")
    elif operator == '%':
        input2 = float(input('Enter Second Number: '))
        if input2 != 0:
            print(input1 % input2)
        else:
            print("Error: Division by zero!")
    elif operator == '**':
        input2 = float(input('Enter Second Number: '))
        print(input1 ** input2)
    elif operator.lower() == 'break':
        print('Goodbye!')
        break
    else:
        print("Invalid operator!")

# Parking Garage

In [ ]:
hours = int(input('Enter number of hours parked: '))
fee = 2.5 * hours

if fee <= 6:
  print(6)

elif fee >= 20:
  print(20)
else:
  print(fee)

# Populating Dictionary With 2 Variables

In [ ]:
months = {}

numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
names = ['Jan', 'Feb', 'Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']

for i in range(len(numbers)):
  months[numbers[i]] = names[i]
  print (months)